body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/pokemon-stadium.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
}

div {
    display: inline-block;
    flex-direction: row;
}
img {
    height: 200px;
    width: 200px;
}

span {
    margin: 30px;
}