body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/pokemon-stadium.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.poke-catcher {
    display: flex;
    flex-direction: row;
}

img {
    height: 300px;
    width: 300px;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img {
    box-sizing: border-box;
    padding: 50px;
    border-radius: 150px;
    border-top: 10px solid red;
    border-bottom: 10px solid white;
}

input[type=radio] + img {
    border: 5px solid transparent;
    padding: 50px;
    box-sizing: border-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

h1 {
    color: white;
    font-family: sans-serif;
}

#submit-button {
    margin: 50px;
}